[package]
name = "php-parser-rs"
description = "A handwritten recursive-descent parser for PHP written in Rust"
keywords = ["php", "php-parser", "parser", "php-parser-rs", "php-ast"]
license = "MIT"
repository = "https://github.com/ryangjchandler/php-parser-rs"
version = "0.0.0"
edition = "2021"

[lib]
doctest = false

[dev-dependencies]
pretty_assertions = "1.3.0"

[[bin]]
name = "integration-test"
path = "integration-test/run.rs"
